<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Switchyard</string>
    <key>CFBundleDisplayName</key>
    <string>Switchyard</string>
    <key>CFBundleIdentifier</key>
    <string>com.vee.switchyard</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>Switchyard</string>
    <key>CFBundleIconName</key>
    <string>switchyard</string>
    <key>CFBundleIconFile</key>
    <string>switchyard</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSAppleEventsUsageDescription</key>
    <string>Switchyard reads the folder shown in the frontmost Finder window so it can open it in the app you pick.</string>
</dict>
</plist>
